<div class="categories">
	<div data-bind="id" class="category row">
		<div class="category-info span4">
			<div class="info-container">
				<div class="page-header">
					{% include "category/admin/controls.html" %}
					<h1 data-bind="category-title" class="category-title"></h1> 
				</div>
				<div data-bind="category-description" class="category-description">
				</div>
			</div>
		</div>
		<div class=" category-content offset4 span8">
			{% include "bookable/main.html" %}
			{% include "content/main.html" %}
		</div>
	</div>
</div>
