<div class="categories row">
	<div data-bind="id" class="category col-md-4">
		<div class="category-info">
			<div class="info-container">
				<div class="category-title-container">
					<h1 data-bind="category-title" class="category-title">
					</h1>
                    {% include "category/admin/controls.html" %}
                </div>
				<div data-bind="category-description" class="category-description">
				</div>
			</div>
		</div>
		<div class="category-content clearfix">
			<div class="container container-fluid">
				{% include "bookable/main.html" %}
				{% include "content/main.html" %}
			</div>
		</div>
	</div>
</div>
