$modalHeaderHeight: 28px;
$modalFooterHeight: 32px;

.modal.big-modal {
	width: 90%;
	height: 90%;
	margin: 0% 0 0 -45%;
	top: 5%;

	& > .modal-header{
		height: $modalHeaderHeight;
		h3,ul{
			float: left;
		}
		ul{
			margin-left: 2em;
		}
		.notifications {
			float: left;
			height: 100%;
			overflow-y: hidden;
			position: relative;
			top: 4px;
			.alert{
				float: left;
				margin-left: .3em;
				padding: 2px 30px 2px 8px;
			}
		}

		.move-to-category {
			float: right;
			height: 0;

		}
		.close {
			margin-left: 2em;
		}
	}
	& > .modal-body{
		clear: left;
		max-height: none;
		padding-top: 0;
		padding-bottom: 0;
		overflow: auto;
		& > *:first-child{
			margin-top: 15px;
		}
		& > *:last-child{
			margin-bottom: 15px;
		}
	}
	& > .modal-footer{
		height: $modalFooterHeight;
		position: static;
		bottom: 0;
	}

	textarea {
		width: 80%;
		height: 250px;
	}
}
