.navbar {
  @include transition();
  background: none;

  .navbar-brand {
    font-weight: 100;
    font-size: 3em;
    color: #fff;
  }
  .language.dropdown-menu {
    position: absolute;
    left: -110px;
  }
}

.category-view {
  //.navbar {
  //  &, .navbar-brand {
  //  }
  //}
}