$iconSize: 48px;
@mixin socialImg($col, $row, $width: $iconSize, $height: $iconSize, $offsetX: 0px, $offsetY: 0px){
	background-position: ( - $offsetY - $row * $height) ( - $offsetX - $col * $width);
}
#contactModal {
	.modal-body{
		padding-left: 0;
		padding-right: 0;
		.table {
			tr:first-child {
				td, th {
					border-top: none;
				}
			}
			td {
				text-align: right;
			}
		}
		.map-iframe {
			height: 90%;
			margin-left: 0;
			iframe {
				height: 100%;
				width: 100%;
			}
		}
	}
}

.social {
	text-align: center;
	margin-left: 0;
	color: #fff;
	position: fixed;
	bottom: 0;
	.header {
		font-size: 1.2em;
		padding-left: 1em;
		font-variant: small-caps;
		display: none;
	}
	.arrow {
		background: url(../img/social/arrow.png) no-repeat left;
		height: 66px;
		position: relative;
		z-index: -1;
	    left: -70px;
	    top: -70px;
	    display: none;
	}
	.icons {
		position: fixed;
		height: 0;
		top: 50%;
		margin-top: -7 * $iconSize / 2;
		left: -20px;
		.group, .icon {
			display: block;
			width: $iconSize;
		}
		& > .group, & > .icon {
			background-image: url(../img/social/social_sprite_48_v_dark.png);
			background-repeat: no-repeat;
			position: relative;
			@include transition(top 0.15s linear);
			left: 0px;
			margin: 0 2px;
			&:hover{
				left: 14px;
				@include transition(left 0.15s linear);
			}
		}
		.group .icon {
			margin: 0;
			background: none;
		}
		.group {
			@include socialImg(4, 0);
			&:hover {
				@include socialImg(4, 1);
			}
		}


		.icon {
			height: $iconSize;

			&.skype {
				@include socialImg(0, 0);
				&:hover {
					@include socialImg(0, 1);
				}
			}
			&.google {
				@include socialImg(1, 0);
				&:hover {
					@include socialImg(1, 1);
				}
			}
			&.facebook {
				@include socialImg(2, 0);
				&:hover {
					@include socialImg(2, 1);
				}
			}
			&.tripadvisor {
				@include socialImg(3, 0);
				&:hover {
					@include socialImg(3, 1);
				}
			}

			// &.map {
			// 	@include socialImg(4, 0);
			// 	&:hover {
			// 		@include socialImg(4, 1);
			// 	}
			// }
			// &.phone {
			// 	@include socialImg(5, 0);
			// 	&:hover {
			// 		@include socialImg(5, 1);
			// 	}
			// }
			// &.mail {
			// 	@include socialImg(6, 0);
			// 	&:hover {
			// 		@include socialImg(6, 1);
			// 	}
			// }
		}
	}
}