@mixin img($row, $col, $width: 48px, $height: 48px, $offsetX: 0px, $offsetY: 0px){
	background-position: ( - $offsetY - $row * $height) ( - $offsetX - $col * $width);
}
#mapModal {
	.modal-body .map-iframe {
		height: 100%;
		iframe {
			height: 100%;
			width: 100%;
		}
	}
}

#phoneModal {
	.table {
		tr:first-child td {
			border-top: none;
		}
	}
}

.social {
	background: $background;
	border-top: $ci-border;
	text-align: center;
	margin-top: -7em;
	margin-left: 0;	
	padding-top: 1em;
	color: #fff;
	.header {
		display: block;
	}

	.icon {
		height: 48px;
		width: 48px;
		margin: 2px;
		display: inline-block;

		background-image: url(../img/social/social_sprite_48.png);
		background-repeat: no-repeat;

		&.skype {
			@include img(0, 0);
			&:hover {
				@include img(0, 1);
			}
		}
		&.google {
			@include img(1, 0);
			&:hover {
				@include img(1, 1);
			}
		}
		&.facebook {
			@include img(2, 0);
			&:hover {
				@include img(2, 1);
			}
		}
		&.tripadvisor {
			@include img(3, 0);
			&:hover {
				@include img(3, 1);
			}
		}
		&.map {
			@include img(4, 0);
			&:hover {
				@include img(4, 1);
			}
		}
		&.phone {
			@include img(5, 0);
			&:hover {
				@include img(5, 1);
			}
		}
		&.mail {
			@include img(6, 0);
			&:hover {
				@include img(6, 1);
			}
		}
	}
}