<div id="hero">
	<div class="overlay">
		<div class="container container-fluid">
			<div class="row">
				<div class="offset1 span6">
					<div class="logo">FP</div>
					<h2>{{ __('Welcome to') }}</h2>
					<h1>{{ __('Ferdinand Pension') }}</h1>
				</div>
			</div>
			<div class="row">
			    <ul class="category-nav nav nav-list span12">
				    <li>
				    	<a href="#" data-bind="title">

				    	</a>
				    	<i class="icon-chevron-down icon-white"></i>
				    </li>
			    </ul>
			</div>
		</div>
	</div>
</div>