<nav class="navbar navbar-default container" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <a class="navbar-brand" href="#">{{ __('Ferdinand Pension') }}</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            {% include "elements/admin/menu.html" %}
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" data-target="languageMenu">
                    {{ __('Language') }}
                    <span class="caret"></span>
                </a>
                <ul class="language dropdown-menu" id="languageMenu">
                    <li>
                        <a data-bind="name">hello world</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>