<div class="social span4">
	<div class="icons">
		<a href="#contactModal" class="group" data-toggle="modal">
			<span class="icon map" title="{{ __('How to get here') }}">
			</span>
			<span class="icon phone" title="{{ __('Phone numbers') }}">
			</span>
			<span class="icon mail" title="{{ __('Email') }}"></span>
		</a>
		<a href="https://www.facebook.com/ferdinand.panziopensiunebandb" class="icon facebook" target="_blank" title="Facebook"></a>
		<a href="http://www.tripadvisor.com/Hotel_Review-g1833649-d2455135-Reviews-Ferdinand_Pension-Sfantu_Gheorghe_Covasna_County_Central_Romania_Transylvania.html" class="icon tripadvisor" target="_blank" title="Tripadvisor"></a>
		<a href="https://plus.google.com/101675121296802996485/about?gl=US&amp;hl=en" class="icon google" target="_blank" title="Google+"></a>
		<a href="skype:albertmatyi?call" class="icon skype" target="_blank" title="Skype"></a>
	</div>
	<div class="arrow-container">
		<svg id="social-arrow" version="1.1" baseProfile="full" width="300" height="200" xmlns="http://www.w3.org/2000/svg">
			<path id="svg-arrow" d="M10,20 C40,50 30,200 200,150" fill="none" stroke="white" stroke-dasharray="10,10"/>
			<path id="svg-arrow-head" d="M200,150 200,155 209,145 200, 146" fill="#fff"/>
			<text font-family="body-font" x="0" y="0" fill="#fff">
				<textPath startOffset="50%" text-anchor="middle" xlink:href="#svg-arrow">
					<tspan dy="-.2em">
						{{ __('Contact us') }}
					</tspan>
				</textPath>
			</text>
		</svg>
	</div>
</div>
<div id="contactModal" class="modal hide big-modal" tabindex="-1" role="dialog" aria-labelledby="mapModalTitle" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="mapModalTitle">{{ __('How to get here') }}</h3>
	</div>
	<div class="modal-body row-fluid">
		<div class="span4">
			<table class="table">
				<tbody>
					<tr>
						<th> {{ __('Address') }} </th>
						<td>
							Strada 1 Decembrie 1918 <br/>
							nr. 10 ( {{ __ ('Yard') }} )<br/>
							Sfântu Gheorghe<br/>
							520008<br/>
							Covasna, Romania
						‎</td>
					</tr>
					<tr>
						<th> {{ __('Landline') }} </th>
						<td> +40 267 312 345 </td>
					</tr>
					<tr>
						<th> {{ __('Mobile') }} </th>
						<td> +40 745 304 114 </td>
					</tr>
					<tr>
						<th> {{ __('Email') }} </th>
						<td class="email"> +40 745 304 114 </td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="map-iframe span8">
			<!-- googlemaps inserted here by social.js -->
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true"> {{ __('Close') }} </button>
	</div>
</div>