<div class="social-icons span4">
	<span > {{ __('Find us on') }}: </span>
	<a href="#"><img src="/static/img/social/tripadvisor.png" alt="Tripadvisor" title="TripAdvisor"/></a>
	<a href="#"><img src="/static/img/social/google.png" alt="Google+" title="Share on Google+"/></a>
	<a href="#"><img src="/static/img/social/facebook.png" alt="facebook" title="Share on Facebook"/></a>
	<a href="#"><img src="/static/img/social/twitter.png" alt="twitter" title="Share on Twitter"/></a>
	<a href="#"><img src="/static/img/social/linkedIn.png" alt="LinkedIn" title="Share on LinkedIn"/></a>
	<a href="#"><img src="/static/img/social/stumbleUpon.png" alt="StumbleUpon" title="Share on Stumble Upon"/></a>
</div>