.bookables {
	.bookable {
		@include tile;
		background: #f4f4f4;
		@include gradient($contentGradientFrom, $contentGradientTo);
		width: 100% - $contentMargin;
		margin-left: $contentMargin;
		margin-bottom: 1em;

		h3, h4, .bookable-description{
			padding-left: $contentPadding;
			padding-right: $contentPadding;
		}
		.picaslide {
			float: left;
			margin-right: 1em;
			margin-left: 0;
		}
		.admin-controls{
			margin-right: 2em;
		}
		.showBookingFormButton {
			margin-right: 1em;
		}
	}
}