.booking-controls {
	border-top: solid 1px #e5e5e5;
	padding-top: 1em;
	@include gradient($contentGradientFrom, $contentGradientTo);

	.booking-btn {
		float: right; 
		padding: 0.7em 3em;
	}
	.btn-link {
		float: right;
	    padding: 0.7 1em;
	    margin: 1em;
	}
	#booking-form {
		display: block;
		background: #F4F4F4;
		margin-top: 2em;
		
		&, .form-actions {
			margin-bottom: 0;
			padding-bottom: 0;
		}
		
		th.tableAddControl {
			text-align: center;
		}

		.prices {
			height: 0px;
			position: relative;
			top: -200px;
			width: 40%;
			left: 60%;
			.total {
				font-weight: bold;
			}
		}
	}
}
.datepicker {
	.not-available.disabled {
		&, &.active, &.today {
			&, &:hover{
			    @include gradient(#600, #f63);
			    color: #333;
			}
		}
	}
}