.booking-controls {
	border: dashed 1px #e5e5e5;
	padding-top: 1em;

	.booking-btn {
		float: right;
		padding: 0.7em 3em;
	}
	.btn-link {
		float: right;
		padding: 0.7 1em;
		margin: 1em;
	}
	#booking-form {
		display: block;

		&, .form-actions {
			margin-bottom: 0;
			padding-bottom: 0;
		}

		th.tableAddControl {
			text-align: center;
		}
		.prices {
			@media (max-width: 1199px){
				td:first-child, th:first-child {
					text-align: right;
					width: 160px;
				}
			}
			@media (min-width: 1200px){
				height: 0px;
				position: relative;
				top: -200px;
				width: 40%;
				left: 60%;
			}
			.total {
				font-weight: bold;
				.currency {
					top: -1px;
					margin-left: .5em;
				}
			}
		}
	}
}
.datepicker {
	.in-range {
		&, &.disabled, &.disabled:hover, &.today.disabled, &.today.disabled:hover {
			@include gradient(#ccf, #9cf);
			color: #333;
		}
	}
	.not-available.disabled {
		&, &.active, &.today {
			&, &:hover{
				@include gradient(#600, #f63);
				color: #333;
			}
		}
	}
}