.bookables {
	.bookable {
		@include tile;
		background: #f4f4f4;
		@include gradient($contentGradientFrom, $contentGradientTo);
		width: 100% - $contentMargin;
		margin-left: $contentMargin;
		margin-bottom: 1em;

		h3, h4, .bookable-description{
			padding-left: $contentPadding;
			padding-right: $contentPadding;
		}
		.picaslide {
			float: left;
			margin-right: 1em;
			margin-left: 0;
		}
		.admin-controls{
			margin-right: 2em;
		}
		
	}
}
.booking-controls {
	border-top: solid 1px #e5e5e5;
	padding-top: 1em;
	@include gradient($contentGradientFrom, $contentGradientTo);

	.booking-btn {
		float: right; 
		margin-right: 1em; 
		padding: 0.7em 3em;
	}
	.btn-link {
		float: right;
	    padding: 1em 0em;
	}
	#booking-form {
		display: block;
		background: #F4F4F4;
		margin-top: 2em;
		
		&, .form-actions {
			margin-bottom: 0;
			padding-bottom: 0;
		}
		
		th.tableAddControl {
			text-align: center;
		}
	}
}
