html, body, #maincontent, #body_content, .categories, .category {
/* 	height: 100%; */
/* 	overflow: hidden; */
}

#maincontent{
	padding-top: 60px;
}

.category {
	margin-bottom: 350px;
	.category-content {
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		padding-top: 7em;
		padding-bottom: 2em;
	}
	.category-info {
		@include tile;
		
		color: #efefef;
		
		.category-title, .category-description{
			@include tile-content;
		}
		
		.page-header{
			border-bottom: $ci-border;
			padding-top: 5em;
			.category-title{
				font-family: LifeSavers-Regular;
				padding-bottom: 0;
			}
		}
		
		.category-description{
			iframe {
				width: 100%;
			}
		}
	}
	
	.info-container{
		height:100%;
	}
	
	.picaslide {
		margin-left: -$contentPadding;
		margin-right: -$contentPadding;
	}

	.admin-controls{
		& > div {
			float: left;
			clear: left;
			margin-left: $adminControlsMarginL;
			margin-top: $adminControlsMarginL;
			& > a {
				width: 29px;
			}
		}
	}
}

