.category {
	margin-bottom: 12em;
	&:first-child .category-info {
		padding-top: 9em;
	}
	&:before {
		content: '';
		display: block;
		height: 9em;
		margin-top: -9em;
	}
	.category-info {
		color: #efefef;
		.category-title-container {
			text-align: center;
			.admin-controls{
				position: relative;
				left: 1em;
				top: -1.2em;
			}
			.category-title{
				font-family: category-title-font, body-font, $fallback-fonts;
				font-weight: normal;
				text-align: center;
				display: inline-block;
				position: relative;
				text-transform: uppercase;
			}
		}

		.category-description {
			margin-top: 10px;
			text-align: left;
			position: relative;
			iframe {
				width: 100%;
			}
			&:before{
				content: '';
				display: block;
				position: absolute;
				height: 1px;
				width: 200px;
				left: -220px;
				top: 1.5em;
				@include gradienth(rgba(255,255,255,0), rgba(255,255,255,1));
			}
			&:after{
				@include gradientv(rgba(255,255,255,1), rgba(255,255,255,0));
				content: '';
				display: block;
				position: absolute;
				height: 7em;
				width: 1px;
				left: -20px;
				top: 0em;
			}
		}
	}

	.info-container{
		margin-bottom: 1em;
	}

	.category-content {
		background: rgba(255,255,255,1);
		margin-top: 2em;
		padding: 3em 0;
		&:after {
			content: 'FP';
			display: block;
			height: 1em;
			width: 2em;
			margin: 0 auto;
			text-align: center;
			border-radius: 100%;
			background: #fff;
			padding: 1.3em 0.4em 0.2em 0.2em;
			color: #333;
			font-family: brand-font, body-font, "Lucida Grande", "Lucida Sans Unicode", "DejaVu Sans", Lucida, Arial, Helvetica, sans-serif;
			font-weight: 100;
			position: relative;
			font-size: 3em;
			top: 2.3em;
		}
	}

	.admin-controls{
		position: relative;
		top: 7px;
		font-size: 14px;
		line-height: 20px;
		& > div {
			float: left;
			clear: left;
			margin-left: $adminControlsMarginL;
			margin-top: $adminControlsMarginL;
			& > a {
				width: 29px;
			}
		}
	}
}

