.content {
	@include tile;
	margin-top: 5em;
	background: #f4f4f4;
	@include gradient($contentGradientFrom, $contentGradientTo);

	.admin-controls{
		margin-right: 1em;
	}
	
	.content-description, .content-title{
		@include tile-content; 
	}
	
	.content-title{
		border-bottom: dashed 1px #ccc;
	}
}