// used in footer & category
$ci-border: 1px dashed rgba(0,0,0,.4);

$contentPadding: 1em;

$contentMargin: 4%;

@import "../lib/bootstrap/css/bootstrap.min";
@import "../lib/bootstrap/css/bootstrap-responsive.min";
@import "../lib/bootstrap-datepicker/datepicker";

@import "base";

@import "elements/navbar";

@import "elements/footer";

@import "elements/dialog";

@import "elements/progress";

@import "elements/modal";

@import "booking";

@import "category";

@import "content";

@import "bookable";

body {
	background: $background;
}

a {
	cursor: pointer;
}

#loading-overlay {
	background: $background;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10000;
	.loading-spacer{
		width: 100%;
		height: 50%;
	}
	.loading {
		position: relative;
		margin: -64px auto;
		height: 96px;
		padding-top: 32px;
		width: 300px;
		padding-left: 128px;
		background: url(/static/img/coffeecup.png) 0 0 no-repeat;
		text-align: center;
		color: #efefef;
		font-size: 1.5em;
		.progress {
			margin: 1em;
		}
	}
}

body, #body_content{
	& > .hidden-on-body{
		display: none;
	}
}