
.navbar{
	.brand {
		font-family: GreatVibes-Regular;
		font-size: 35px;
		//text-shadow: 1px 1px 0px #fff, -1px -1px 0px #999;
	}	
	.nav > li > a, .brand {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
}