 <div class="modal hide fade big-modal" class tabindex="-1" id="bookableEditFormModal" role="dialog" aria-labelledby="bookableEditFormModalTitle" aria-hidden="true">	
	 <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="bookableEditFormModalTitle">Edit bookable</h3>
		<ul class="nav nav-tabs" id="editBookableFormTabs">
			<li><a href="#" data-bind="lang_id"></a></li>
		</ul>
	</div>
	<div class="modal-body">
		<form action="/admin/bookables/" method="post">
			<div class="tab-bookable">
				<div class="tab-pane" data-bind="lang_id">
					<div class="control-group">
						<label class="control-label">Title</label>
						<input name="title" id="bookableTitleInput" type="text" />
					</div>
					<div class="control-group">
						<label class="control-label">Description</label>
						<textarea name="description" id="bookableDescriptionInput" ></textarea>
					</div>
				</div>
			</div>
		</form>		
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i> 
			Cancel
		</button>
		<button class="btn btn-primary" data-dismiss="modal" id="submitBookableEditForm"><i class="icon-ok icon-white"></i>
			Save 
		</button>
	</div>
</div>