<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>{% block title%}{% endblock %}Ferdinand Panzio</title>
    <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link href="/static/lib/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="/static/css/main.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    {% block style_block %}<!-- page-specific CSS -->{% endblock %}
    {% block head_script %}<!-- defer-incapable JS block -->{% endblock %}

</head>

<body data-spy="scroll" data-target=".navbar">
    <div id="header">
        {% include 'includes/nav.html' %} {# pull in navbar #}
    </div>
    <div class="container" id="maincontent">
        {% include 'includes/flash_message.html' %} {# page-level feedback notices #}
        <div id="body_content" >
            {% block content %}<!-- main content area -->{% endblock %}
        </div>
    </div><!-- /container -->

    <footer>
        <div id="footer" class="container">
            {% block footer %}<!-- footer -->{% endblock %}
        </div><!-- /footer -->
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    {% if js_data %}
    	model = {{js_data|tojson|safe}};
    {% endif %}
    </script>
    {% block tail_script %}<!-- defer-capable JS block -->{% endblock %}
</body>
</html>

