{% extends "base.html" %} {% block content %}
<div class="categories">
	<div data-bind="id" class="category row">
		<div class="category-info span4"/>
		<div class="info-container">
			<div class="page-header">
				<h1 class="category-title"></h1>
			</div>
			<div class="category-description">
			</div>
		</div>
			<div class="social-icons">
				<span > Find us on: </span>
				<a href="#"><img src="/static/img/social/tripadvisor.png" alt="Tripadvisor" title="TripAdvisor"/></a>
				<a href="#"><img src="/static/img/social/google.png" alt="Google+" title="Share on Google+"/></a>
				<a href="#"><img src="/static/img/social/facebook.png" alt="facebook" title="Share on Facebook"/></a>
				<a href="#"><img src="/static/img/social/twitter.png" alt="twitter" title="Share on Twitter"/></a>
				<a href="#"><img src="/static/img/social/linkedIn.png" alt="LinkedIn" title="Share on LinkedIn"/></a>
				<a href="#"><img src="/static/img/social/stumbleUpon.png" alt="StumbleUpon" title="Share on Stumble Upon"/></a>
			</div>
		</div>
		<div class=" category-content">
			<div class="bookables-wrapper span8">
				<div class="bookables">
					<div class="bookable">
						<h3 class="bookable-title"></h3>
						<h4>Beds: <span data-bind="beds"></span></h4>
						<div data-bind="album_url"></div>
						<div class="bookable-description"></div>
					</div>
				</div>
				<div class="booking-form ">
					{% include "booking_form.html" %}
				</div>
			</div>
			
			<div class="contents ">
				<div class="content span4" data-bind="id">
					<h3 class="content-title"></h3>
					<div class="content-description"></div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block style_block %}
<link href="/static/lib/bootstrap-datepicker/datepicker.css" rel="stylesheet" />
{% endblock %}

{% block tail_script %}
<script>
	require(["main"]);
</script>
{% endblock %}
