<table class="table entries-table">
	<thead>
		<tr>
			<th colspan="2">{{ __('Booked room') }}</th>
		</tr>
	</thead>
	<tbody>
		
		<tr>
			<td>{{ __('Room type') }}</td>
			<td>{{ booking.bookable.i18n[__('lang_id')].title }}</td>
		</tr>
		<tr>
			<td>{{ __('Quantity') }}</td>
			<td>{{ booking.quantity }}</td>
		</tr>
		<tr>
			<td>{{ __('Guests') }}</td>
			<td>{{ booking.guests }}</td>
		</tr>
		<tr>
			<td>{{ __('Arrival') }}</td>
			<td>{{ booking.book_from }}</td>			
		</tr>
		<tr>
			<td>{{ __('Departure') }}</td>
			<td>{{ booking.book_until }}</td>
		</tr>
	</tbody>
	<tfoot>
		
	</tfoot>
</table>