<h3> Dear #user.full_name, </h3>

<p>
We've received the following reservation request:
</p>

<div>
	<div>
		<table>
			<thead>
				<tr>
					<th colspan="2">
						<span>Booking details</span>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<i></i> <span>#user.email</span>
					</td>
					<td>
						<i></i> <span>#user.phone</span>
					</td>
				</tr>
				<tr>
					<td>Bookable</td>
					<td>#bookable.i18n.title</td>
				</tr>
				<tr>
					<td>Quantity</td>
					<td>#booking.quantity</td>
				</tr>
				<tr>
					<td>Guests</td>
					<td>#booking.guests</td>
				</tr>
				<tr>
					<td>Arrival date</td>
					<td>#booking.start</td>
				</tr>
				<tr>
					<td>Departure date</td>
					<td>
						<span>#booking.end</span>
						<small>
							( <span>#booking.nrOfNights</span>
							nights )
						</small>
					</td>
				</tr>
				<tr>
					<td>Price</td>
					<td>
						<span>#booking.priceClient</span>
						<span>#booking.currencyClient</span>
						<small>
							( <span>#booking.pricePerNightClient</span>
							<span>#booking.currencyClient</span>
							Per night )
						</small>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<p>
Please stand by while we process it.
</p>
<p>
	Best regards, <br/>
	Ferdinand Pension
</p>
