
@mixin prefix($name, $value){
  -webkit-#{$name}: $value;
  -moz-#{$name}: $value;
  -ms-#{$name}: $value;
  -o-#{$name}: $value;
  #{$name}: $value;
}

@mixin noise {
	background-image: url(/static/img/noise.png);
}

@mixin tile-content {
	padding: 0 $contentPadding;
}

@mixin tile {
	padding-bottom: $contentPadding + .1em;
}
@mixin gradientv($from, $to) {
	background-image: linear-gradient(to bottom, $from, $to);
	background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background-image: -moz-linear-gradient(top,  $from, $to);
	$iefrom: ie-hex-str($from);
	$ieto: ie-hex-str($to);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$iefrom}', endColorstr='#{$ieto}');
}
@mixin gradienth($from, $to) {
	background-image: linear-gradient(to right, $from, $to);
	background-image: -webkit-gradient(linear, left top, right top, from($from), to($to));
	background-image: -moz-linear-gradient(left,  $from, $to);
	$iefrom: ie-hex-str($from);
	$ieto: ie-hex-str($to);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$iefrom}', endColorstr='#{$ieto}');
}

@mixin gradient($from, $to) {
	@include gradientv($from, $to);
}

@mixin transition ($val: all 1s ease) {
	@include prefix('transition', $val);
}

@mixin rotate ($degrees) {
	// http://stackoverflow.com/questions/5669489/create-a-cross-browser-mixin-for-transform-rotate
	-webkit-transform: rotate(#{$degrees}deg);
	-moz-transform: rotate(#{$degrees}deg);
	-ms-transform: rotate(#{$degrees}deg);
	-o-transform: rotate(#{$degrees}deg);
	transform: rotate(#{$degrees}deg);

	filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})";
	zoom: 1;
}
@mixin blur ($ammount) {
	filter: blur($ammount + 'px');
	-webkit-filter: blur($ammount + 'px');
	-moz-filter: blur($ammount + 'px');
	-o-filter: blur($ammount + 'px');
	-ms-filter: blur($ammount + 'px');
	// filter: url(blur.svg#blur);
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='#{$ammount}');
}