@mixin noise {
	background-image: url(/static/img/noise.png);
}

@mixin tile-content {
	padding: 0 $contentPadding;
}

@mixin tile {
	border-radius: 5px;	
	padding-bottom: $contentPadding + .1em;
}

@mixin gradient($from, $to) {
	background-image: linear-gradient(to bottom, $from, $to);
	background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background-image: -moz-linear-gradient(top,  $from, $to);
	$iefrom: ie-hex-str($from);
	$ieto: ie-hex-str($to);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$iefrom}', endColorstr='#{$ieto}');
}