@import "elements/fullscreen";

div.picaslide {
	padding: 0;
	margin-bottom: 1.5em;
	background: url(../img/picasa_placeholder.jpg) center center;
	background-size: cover;
	&:after{
		content: 'Loading...';
		color: #333;
		text-align: center;
		padding-top: 8em;
	}
	.fullscreen-btn{
		padding: 2px 4px;
		position: relative;
		top: -25px;
		z-index: 1000;
		border-bottom: none;
		border-radius: 0px 10px 0px 0px;
	}
	&>.picaslides-container{
		display: none;
		& > *{
			display: block;
		}
	}
	ul.picaslide-pagination {
		float: right;
		height: 0;
		position: relative;
		width: 100%;
		top: 0px;
		padding: 0;
		margin: 0;
		z-index: 100;
		li {
			width: 6px;
			height: 6px;
			margin: 3px;
			border-radius: 6px;
			float: left;
			padding: 0;
			overflow: hidden;
			background: transparent;
			border: solid 2px #000000;
			&.current{
				background: #000000;
			}
			&> a{
				line-height: 0;
				font-size: 0;
				color: transparent;
				border: none;
				display: block;
				height: 100%;
				width: 100%;
				background: transparent;
			}
		}
	}
	&:after{
		display: block;
		clear: both;
	}
}