@import "elements/fullscreen";

div.picaslide {
	padding: 0;
	margin-bottom: 1.5em;
	background: url(../img/picasa_placeholder.jpg) center center;
	background-size: cover;
	position: relative;
	&.success {
		background: transparent;
	}
	&.error:after {
		content: 'Error loading gallery';
		text-align: center;

		display: block;
		margin: auto;
		position: relative;
		top: 3em;
		width: 150px;

		background: #c33;
		border-radius: 4px;
		color: #fff;
	}
	.fullscreen-btn {
		padding: 2px 4px;
		position: absolute;
		top: 25px;
		z-index: 1000;
		border-bottom: none;
		border-left: none;
		border-radius: 0px 0px 0px 0px;
		background: #fff;
		box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		&:hover:after {
			content: ' Fullscreen';
		}
	}
	&>.picaslides-container{
		display: none;
		& > *{
			display: block;
		}
	}
	ul.picaslide-pagination {
		float: right;
		position: relative;
		width: 100%;
		// top: -25px;
		padding: 0;
		margin: 0;
		z-index: 100;
		$thumbsize: 30px;
		li {
			width: $thumbsize;
			height: $thumbsize;
			margin: 4px;
			float: left;
			padding: 0;
			overflow: hidden;
			background-color: transparent;
			background-repeat: no-repeat;
			background-position: center;
			&:hover {
				background-color: #39f;
			}
			&.current{
				background-color: #333;
			}
			&> a{
				line-height: 0;
				font-size: 0;
				color: transparent;
				border: none;
				display: block;
				height: 100%;
				width: 100%;
			}
		}
	}
	&:after{
		display: block;
		clear: both;
	}
}