{% set entityName = 'bookable' %}
{% set EntityName = 'Bookable' %}

{% extends 'base/admin/form.html' %}
{% block i18n_inputs %}
<div class="control-group">
	<label class="control-label">{{ __('Title') }}</label>
	<input name="title" type="text" />
</div>
<div class="control-group">
	<label class="control-label">{{ __('Description') }}</label>
	<textarea name="description" ></textarea>
</div>
{% endblock %}
		
{% block inputs %}		
<input name="category" type="hidden" />
<div class="control-group">
	<label class="control-label">{{ __('Beds') }}</label>
	<input name="beds" type="text" />
</div>
<div class="control-group">
	<label class="control-label">{{ __('Album url') }}</label>
	<input name="album_url" type="text" />
</div>
<div class="control-group">
	<label class="control-label">{{ __('Price per night') }}</label>
	<input name="price" type="text" />
</div>
<div class="control-group">
	<label class="control-label">{{ __('Quantity') }}</label>
	<input name="quantity" type="text" />
</div>
{% endblock %}