{% set entityName = 'bookable' %}
{% set EntityName = 'Bookable' %}

{% extends 'base/admin/form.html' %}
{% block i18n_inputs %}
<div class="control-group">
	<label class="control-label">{{ __('Title') }}</label>
	<input name="title" type="text" />
</div>
<div class="control-group">
	<label class="control-label">{{ __('Description') }}</label>
	<textarea name="description" ></textarea>
</div>
{% endblock %}

{% block inputs %}
<input name="category" type="hidden" />
<div class="control-group">
	<label class="control-label">{{ __('Album url') }}</label>
	<input name="album_url" type="text" />
</div>
<div class="control-group">
	<label class="control-label">{{ __('Quantity') }}</label>
	<select name="quantity">
		<option data-bind="value">1</option>
	</select>
</div>
<div class="control-group">
	<label class="control-label">{{ __('Places') }}</label>
	<select name="places">
		<option data-bind="value">1</option>
	</select>
</div>
<div class="control-group">
	<label class="control-label">{{ __('Price per night') }}</label>
	<table class="table prices">
		<thead>
			<tr>
				<th class="values"> 1 {{ __('Guest(s)') }} </th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="values">
					<div class="input-append">
						<input type="text" name="prices.values"/>
						<span class="add-on currency">$$$</span>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="control-group">
	<label class="control-label">
		{{ __('Weight') }}
		<small>{{ __('Weight explanation') }}</small>
	</label>
	<input name="weight" type="text" value="0" />
</div>
{% endblock %}

{% block header_controls %}
<div class="move-to-category btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown">
    	{{ __('Move to category') }}
    	<span class="caret"></span>
    </a>
    <ul class="dropdown-menu" >
    </ul>
</div>
{% endblock %}