{% set id = entityName + 'EditForm' %}
{% set title = __('Edit ' + entityName) %}
{% set big_modal=True %}
{% extends "elements/modal.html" %}
{% block title_content %}
	<ul class="nav nav-tabs" id="edit{{ EntityName }}FormTabs">
		<li><a href="#" data-bind="lang_id"></a></li>
	</ul>
{% endblock %}
{% block content %}		
	<form action="/" method="post">
		<div class="tab-content">
			<div class="tab-pane" data-bind="lang_id">
			{% block i18n_inputs %} {% endblock %}
			</div>
		</div>
		{% block inputs %} 
		
		{% endblock %}
		<input type="hidden" name="id"/>
	</form>		
{% endblock %}
{% block footer_content %}		
	<button class="btn" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i> 
		{{ __('Cancel') }}
	</button>
	<button class="btn btn-primary" id="submit{{ EntityName }}EditForm"><i class="icon-ok icon-white"></i>
		{{ __('Save') }}
	</button>
{% endblock %}
