{% extends "admin_base.html" %} {% block content %}
<div class="admin-controls well">
	<div><a class="btn btn-primary" href="new"><i class="icon-plus icon-white"></i> New</a></div>
	{% block admin_controls %} {% endblock %}
</div>
<table class="table table-borderd table-striped well">
	<thead>
		<tr>
			<th>Id</th>
			{% for prop in properties %}
				<th>{{ prop }}</th> 
			{% endfor %}
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for item in list %}
		<tr>
			<td>{{item.key().id()}}</td>
			{% for prop in item.properties() %}
				<td>{{ item[prop]|safe }}</td> 
			{% endfor %}
			<td> 
				<form action="{{item.key().id()}}?_method=DELETE" method="post">
					<fieldset>
					<a class="btn" href="{{item.key().id()}}" ><i class="icon-edit"></i></a>
					<button class="btn btn-danger"><i class="icon-remove icon-white"></i></button>
					</fieldset>
				</form>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}

{% block style_block %}
<link type="text/css" rel="stylesheet" href="/static/lib/galleria/themes/classic/galleria.classic.css">

{% endblock %}

{% block tail_script %}
<script src="/static/lib/picasa.js"></script>
<script src="/static/lib/slides.min.jquery.js"></script>
<script type="text/javascript">
$(window).load(function(){
	Galleria.loadTheme('/static/lib/galleria/themes/classic/galleria.classic.min.js');
	$('div.galleria').each(function(idx, el){
		Galleria.run(el, {
    		picasa: 'useralbum:'+$(el).attr('data-galleria-username')+'/'+$(el).attr('data-galleria-albumID'), // 'galleriajs' is the username and 'Demo' is the album ID
    		picasaOptions: {
        		sort: 'date-posted-asc',
        		imageSize: $(el).attr('data-galleria-size')
   			}
		});
	});	
});</script>
{% endblock %}
