<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <![endif]-->
    <title>{% block title%}{% endblock %}{{ __('Ferdinand Pension') }}</title>

    {% if is_admin %}
        <link href="/static/css/admin_main.css" rel="stylesheet" />
    {% else %}
        <link href="/static/css/main.css" rel="stylesheet" />
    {% endif %}
    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    <script type="text/javascript">
        var PRODUCTION = '{{ is_production }}' === 'True';
        // var PRODUCTION = true;

        var require = {
            waitSeconds: 60,
            baseUrl: '/static/js/',
            paths:{
                'main':'main{{ '.admin' if is_admin else '' }}'+(PRODUCTION ? '.min':'')
            }
        };
    </script>
    <script type="text/javascript" src="/static/lib/require.js"></script>
    {% block style_block %}<!-- page-specific CSS -->{% endblock %}
    {% block head_script %}<!-- defer-incapable JS block -->{% endblock %}

</head>

<body data-spy="scroll" data-target=".navbar">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42363733-1', 'ferdinandmotel.appspot.com');
      ga('send', 'pageview');
    </script>
	<div id="loading-overlay">
		<div class="loading-spacer"></div>
		<div class="loading">
            <div>
                {{ __('Greeting') }}
            </div>
	        <div class="progress progress-striped active">
                <div class="bar" style="width: 100%;"></div>
            </div>
        </div>
	</div>
    <div id="body-bg">
        <div id="body-overlay"></div>
    </div>
    <div id="header">
        {% include "elements/hero.html" %}
        {% include 'elements/nav.html' %} {# pull in navbar #}
    </div>
    <div class="" id="maincontent">
        <div id="body_content" >
            {% block content %}<!-- main content area -->{% endblock %}
        </div>
    </div><!-- /container -->

    <footer>
        <div id="footer" class="container">

            {% block footer %}<!-- footer -->{% endblock %}
        </div><!-- /footer -->
    </footer>

    <!-- alert & confirm dialogs -->
    {% block modals %}
        {% include "elements/dialog.html" %}
    {% endblock %}

    {% include "elements/progress.html" %}
    {% include 'elements/social.html' %}

    <script type="text/javascript">
    {% if js_data %}
        model = {{js_data|tojson|safe}};
    {% endif %}
    </script>
    <script type="text/javascript">require(['main']);</script>

    {% block tail_script %}<!-- defer-capable JS block -->{% endblock %}
</body>
</html>

