<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>{% block title%}{% endblock %}{{ __('Ferdinand Motel') }}</title>
    {% if js_data.is_admin %}
        <link href="/static/lib/wysihtml5/css/bootstrap-wysihtml5.css" rel="stylesheet" />
    {% endif %}
    <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link href="/static/lib/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="/static/css/main.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    <script type="text/javascript" src="/static/lib/require.js"></script>
    <script type="text/javascript">
		  require.config({
		    baseUrl: "/static/js",
		    paths: {
		        "lib": "/static/lib/"
		    },
		  });
  	</script>
    {% block style_block %}<!-- page-specific CSS -->{% endblock %}
    {% block head_script %}<!-- defer-incapable JS block -->{% endblock %}

</head>

<body data-spy="scroll" data-target=".navbar">
	<div id="loading-overlay">
		<div class="loading-spacer"></div>
		<div class="loading">
            <div>
                {{ __('Greeting') }}
            </div>
	        <div class="progress progress-striped active">
                <div class="bar" style="width: 100%;"></div>
            </div>
        </div>
	</div>
    <div id="header">
        {% include 'elements/nav.html' %} {# pull in navbar #}
    </div>
    <div class="container" id="maincontent">
        <div id="body_content" >
            {% block content %}<!-- main content area -->{% endblock %}
        </div>
    </div><!-- /container -->

    <footer>
        <div id="footer" class="container">
        
            {% block footer %}<!-- footer -->{% endblock %}
        </div><!-- /footer -->
    </footer>
    <script type="text/javascript">
    {% if js_data %}
    	model = {{js_data|tojson|safe}};
    {% endif %}
    </script>
    {% block tail_script %}<!-- defer-capable JS block -->{% endblock %}
</body>
</html>

