<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <![endif]-->
    <title>{% block title%}{% endblock %}{{ __('Ferdinand Motel') }}</title>

    {% if is_admin %}
        <link href="/static/css/admin_main.css" rel="stylesheet" />
    {% else %}
        <link href="/static/css/main.css" rel="stylesheet" />
    {% endif %}
    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    <script type="text/javascript">
        var PRODUCTION = '{{ is_production }}' === 'True';
        // var PRODUCTION = true;

        var require = {
            waitSeconds: 60,
            baseUrl: '/static/js/',
            paths:{
                'main':'main{{ '.admin' if is_admin else '' }}'+(PRODUCTION ? '.min':'')
            }
        };
    </script>
    <script type="text/javascript" src="/static/lib/require.js"></script>
    {% block style_block %}<!-- page-specific CSS -->{% endblock %}
    {% block head_script %}<!-- defer-incapable JS block -->{% endblock %}

</head>

<body data-spy="scroll" data-target=".navbar">
	<div id="loading-overlay">
		<div class="loading-spacer"></div>
		<div class="loading">
            <div>
                {{ __('Greeting') }}
            </div>
	        <div class="progress progress-striped active">
                <div class="bar" style="width: 100%;"></div>
            </div>
        </div>
	</div>
    <div id="header">
        {% include 'elements/nav.html' %} {# pull in navbar #}
    </div>
    <div class="container" id="maincontent">
        <div id="body_content" >
            {% block content %}<!-- main content area -->{% endblock %}
        </div>
    </div><!-- /container -->

    <footer>
        <div id="footer" class="container">

            {% block footer %}<!-- footer -->{% endblock %}
        </div><!-- /footer -->
    </footer>

    <!-- alert & confirm dialogs -->
    {% block modals %}
        {% include "elements/dialog.html" %}
    {% endblock %}

    {% include "elements/progress.html" %}
    {% include 'elements/social.html' %}

    <script type="text/javascript">
    {% if js_data %}
        model = {{js_data|tojson|safe}};
    {% endif %}
    </script>
    <script type="text/javascript">require(['main']);</script>
    {% block tail_script %}<!-- defer-capable JS block -->{% endblock %}
</body>
</html>

