
{% if is_admin %}
<li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" data-target="adminMenu" href="#">
	{{ __('Admin') }}
	<span class="caret"></span>
</a>
<ul id="adminMenu" class="admin dropdown-menu">
	<li id="adminBookingsButton">
		<a href="#">
			{{ __('Bookings') }}
			<span class="badge badge-important">11</span>
		</a>
	</li>
	{% if not is_production %} 
	<li id="testButton">
		<a href="#">
			Test
		</a>
	</li>
	{% endif %}
	<li id="adminGuestbookEntries">
		<a href="#">
			{{ __('Guestbook entries') }}
			<span class="badge badge-important">4</span>
		</a>
	</li>
	<li> 
		<a href="{{ logout_url }}">
			{{ __('Log out') }}
		</a>
	</li>
</ul>
</li>
{% endif %}
