.bookables-wrapper{
	@include tile;
	background: #f4f4f4;
	@include gradient($contentGradientFrom, $contentGradientTo);
	
	margin-top: 5em;
	.bookables {
		.bookable {
			h3, h4, .bookable-description{
				padding-left: $contentPadding;
				padding-right: $contentPadding;
			}
			.picaslide {
				float: left;
				margin-right: 1em;
			}
		}
	}
	.pagination
	{
		list-style: none;
		li {
			margin-left: 2em;
			float: left;
			
			a {
				border-radius: 35px;
				background: $background;
				border: none;
				box-shadow: inset 2px 2px 3px #000;
				color: #EFEFEF;
				font-weight: bold;
				text-shadow: 2px 2px 3px #000000;
				&:focus {
					outline: none;
				}
			}
			
			a:hover, &.current a {
				background: #1A80E6;
				box-shadow: none;
				text-shadow: none;
			}
		}	
	}
}
.booking-form {
	@include tile;
	background: #f4f4f4;
	@include gradient($contentGradientFrom, $contentGradientTo);
	margin-top: 2em;
	
	padding-top: 2em;
	
	background-image: linear-gradient(to bottom, #e2e2e2, #FFF);
	
	label, input, select {
		float: left;
	}
	select{
		width: 3em;
		margin: 0 1em 0 2em;
	}
	label { 
		//width: 300px;
	}
	& > form > div {
		clear: both;
	}
}