.picaslide {
	padding: 0;
	&>.slides_container{
		display: none;
		& > *{
			display: block;
		}
	}
	ul.pagination {
		float: right;
		height: 0;
		position: relative; 
		top: -20px;
		padding: 0;
		margin: 0;
		z-index: 100;
		li {
			width: 6px;
			height: 6px;
			margin: 3px;
			border-radius: 6px;
			float: left;
			padding: 0;
			overflow: hidden;
			background: transparent;
			border: solid 2px #000;
			&.current{
				background: #dd1;
			}
			&> a{
				line-height: 0; 
			    font-size: 0;
			    color: transparent; 
			    border: none;
			    display: block;
			    height: 100%;
			    width: 100%;
			    background: transparent;
			}
		}
	}
	&:after{
		display: block;
		clear: both;
	}
}