@font-face {
  font-family: 'GreatVibes-Regular';
  src: url("../fonts/Great_Vibes/GreatVibes-Regular.ttf"); }

@font-face {
  font-family: 'LifeSavers-Regular';
  src: url("../fonts/Life_Savers/LifeSavers-Regular.ttf"); }

div.picaslide {
  padding: 0; }
  div.picaslide > .picaslides-container {
    display: none; }
    div.picaslide > .picaslides-container > * {
      display: block; }
  div.picaslide ul.picaslide-pagination {
    float: right;
    height: 0;
    position: relative;
    top: 0px;
    padding: 0;
    margin: 0;
    z-index: 100; }
    div.picaslide ul.picaslide-pagination li {
      width: 6px;
      height: 6px;
      margin: 3px;
      border-radius: 6px;
      float: left;
      padding: 0;
      overflow: hidden;
      background: transparent;
      border: solid 2px #000; }
      div.picaslide ul.picaslide-pagination li.current {
        background: #000; }
      div.picaslide ul.picaslide-pagination li > a {
        line-height: 0;
        font-size: 0;
        color: transparent;
        border: none;
        display: block;
        height: 100%;
        width: 100%;
        background: transparent; }
  div.picaslide:after {
    display: block;
    clear: both; }
