/*
Syntax error: Undefined mixin 'tile'.
        on line 2 of sass/bookable.scss, in `tile'
        from line 2 of sass/bookable.scss

1: .bookables-wrapper{
2: 	@include tile;
3: 	margin-top: 2em;
4: 	background: #efefef;
5: 	background-image: linear-gradient(to bottom, #e2e2e2, #FFF);
6: 	@include tile-content;
7: 	.bookables {

Backtrace:
sass/bookable.scss:2:in `tile'
sass/bookable.scss:2
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:249:in `visit_mixin'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `map'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:316:in `visit_rule'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `map'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/root_node.rb:20:in `render'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/engine.rb:315:in `_render'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/engine.rb:262:in `render'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:340:in `update_stylesheet'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:200:in `each'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/plugin.rb:81:in `update_stylesheets'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/exec.rb:411:in `watch_or_update'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/exec.rb:302:in `process_result'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/exec.rb:41:in `parse'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/exec.rb:21:in `parse!'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/bin/sass:8:in `<top (required)>'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/bin/sass:19:in `load'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/bin/sass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'tile'.\A         on line 2 of sass/bookable.scss, in `tile'\A         from line 2 of sass/bookable.scss\A \A 1: .bookables-wrapper{\A 2: 	@include tile;\A 3: 	margin-top: 2em;\A 4: 	background: #efefef;\A 5: 	background-image: linear-gradient(to bottom, #e2e2e2, #FFF);\A 6: 	@include tile-content;\A 7: 	.bookables {"; }
