/*
Syntax error: Undefined mixin 'tile'.
        on line 18 of application/static/scss/category.scss, in `tile'
        from line 18 of application/static/scss/category.scss

13: 		overflow-x: hidden;
14: 		padding-bottom: 2em;
15: 	}
16: 	.category-info {
17: 		position: absolute;	
18: 		@include tile;
19: 		
20: 		height: 100%;
21: 		color: #efefef;
22: 		
23: 		.category-title, .category-description{

Backtrace:
application/static/scss/category.scss:18:in `tile'
application/static/scss/category.scss:18
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:249:in `visit_mixin'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `map'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:316:in `visit_rule'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `map'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:316:in `visit_rule'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `map'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/root_node.rb:20:in `render'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/engine.rb:315:in `_render'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/engine.rb:262:in `render'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:340:in `update_stylesheet'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:200:in `each'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:298:in `block in watch'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/vendor/listen/lib/listen/multi_listener.rb:95:in `block in initialize_adapter'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/vendor/listen/lib/listen/adapters/polling.rb:31:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'tile'.\A         on line 18 of application/static/scss/category.scss, in `tile'\A         from line 18 of application/static/scss/category.scss\A \A 13: 		overflow-x: hidden;\A 14: 		padding-bottom: 2em;\A 15: 	}\A 16: 	.category-info {\A 17: 		position: absolute;	\A 18: 		@include tile;\A 19: 		\A 20: 		height: 100%;\A 21: 		color: #efefef;\A 22: 		\A 23: 		.category-title, .category-description{"; }
