/*
Syntax error: Undefined variable: "$ci-border".
        on line 7 of application/static/scss/footer.scss

2: 	position: fixed;
3: 	bottom: 0; 
4: 	left: 0;
5: 	right: 0;
6: 	.social-icons {
7: 		border-top: $ci-border;
8: 		text-align: center;
9: 		margin-top: -7em;
10: 		margin-left: 0;	
11: 		padding-top: 1em;
12: 		color: #000;

Backtrace:
application/static/scss/footer.scss:7
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/script/variable.rb:49:in `_perform'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/script/node.rb:40:in `perform'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:294:in `visit_prop'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `map'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:316:in `visit_rule'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `map'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:316:in `visit_rule'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `map'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/tree/root_node.rb:20:in `render'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/engine.rb:315:in `_render'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/engine.rb:262:in `render'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:340:in `update_stylesheet'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:200:in `each'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:298:in `block in watch'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/vendor/listen/lib/listen/multi_listener.rb:95:in `block in initialize_adapter'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/home/matyas/.rvm/gems/ruby-1.9.3-p125/gems/sass-3.2.1/vendor/listen/lib/listen/adapters/polling.rb:31:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$ci-border\".\A         on line 7 of application/static/scss/footer.scss\A \A 2: 	position: fixed;\A 3: 	bottom: 0; \A 4: 	left: 0;\A 5: 	right: 0;\A 6: 	.social-icons {\A 7: 		border-top: $ci-border;\A 8: 		text-align: center;\A 9: 		margin-top: -7em;\A 10: 		margin-left: 0;	\A 11: 		padding-top: 1em;\A 12: 		color: #000;"; }
