@font-face {
  font-family: 'GreatVibes-Regular';
  src: url("../fonts/Great_Vibes/GreatVibes-Regular.ttf"); }

@font-face {
  font-family: 'LifeSavers-Regular';
  src: url("../fonts/Life_Savers/LifeSavers-Regular.ttf"); }

.picaslide {
  padding: 0; }
  .picaslide > .picaslides-container {
    display: none; }
    .picaslide > .picaslides-container > * {
      display: block; }
  .picaslide ul.picaslide-pagination {
    float: right;
    height: 0;
    position: relative;
    top: 0px;
    padding: 0;
    margin: 0;
    z-index: 100; }
    .picaslide ul.picaslide-pagination li {
      width: 6px;
      height: 6px;
      margin: 3px;
      border-radius: 6px;
      float: left;
      padding: 0;
      overflow: hidden;
      background: transparent;
      border: solid 2px #000; }
      .picaslide ul.picaslide-pagination li.current {
        background: #000; }
      .picaslide ul.picaslide-pagination li > a {
        line-height: 0;
        font-size: 0;
        color: transparent;
        border: none;
        display: block;
        height: 100%;
        width: 100%;
        background: transparent; }
  .picaslide:after {
    display: block;
    clear: both; }

.brand {
  font-family: GreatVibes-Regular; }

html, body, #maincontent, #body_content, .categories, .category {
  height: 100%;
  overflow: hidden; }

.category .category-content {
  height: 100%;
  overflow-y: auto;
  overflow-x: visible;
  padding-bottom: 2em; }
.category .category-info {
  border-radius: 5px;
  padding-bottom: 1.1em;
  height: 100%;
  color: #efefef; }
  .category .category-info .category-title, .category .category-info .category-description {
    padding: 0 1em; }
  .category .category-info .category-title {
    font-family: LifeSavers-Regular;
    padding-bottom: 0;
    padding-top: 5em; }
  .category .category-info .page-header {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.4); }
.category .info-container {
  height: 100%; }
.category .social-icons {
  border-top: 1px dashed rgba(0, 0, 0, 0.4);
  text-align: center;
  margin-top: -10em;
  padding-top: 3em;
  color: #000; }
  .category .social-icons span {
    display: block; }
  .category .social-icons a:hover img {
    /*		box-shadow: 0px 0px 5px #666; */ }
.category .picaslide {
  margin-left: 0;
  position: relative;
  left: -1em; }

.content {
  border-radius: 5px;
  padding-bottom: 1.1em;
  margin-top: 5em;
  background: #f4f4f4;
  background-image: linear-gradient(to bottom, #e7e7e7, white);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(white));
  background-image: -moz-linear-gradient(top, #e7e7e7, white);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='white');
  /* 	margin-left: 15px; */ }
  .content .content-description, .content .content-title {
    padding: 0 1em; }
  .content .content-title {
    border-bottom: dashed 1px #ccc; }

.bookables-wrapper {
  border-radius: 5px;
  padding-bottom: 1.1em;
  margin-top: 2em;
  background: #efefef;
  background-image: linear-gradient(to bottom, #e2e2e2, white);
  padding: 0 1em; }
  .bookables-wrapper .bookables .bookable .picaslide {
    float: left;
    margin-right: 1em; }

.booking-form {
  border-radius: 5px;
  padding-bottom: 1.1em;
  margin-top: 2em;
  background-image: linear-gradient(to bottom, #e2e2e2, white); }
  .booking-form label, .booking-form input, .booking-form select {
    float: left; }
  .booking-form select {
    width: 3em;
    margin: 0 1em 0 2em; }
  .booking-form > form > div {
    clear: both; }

body {
  /* 	background-image: linear-gradient(to bottom, #346, #333);  */
  background: url(/static/img/noise.png) #333333; }
