.picaslide {
  padding: 0; }
  .picaslide > .slides_container {
    display: none; }
    .picaslide > .slides_container > * {
      display: block; }
  .picaslide ul.pagination {
    float: right;
    height: 0;
    position: relative;
    top: -20px;
    padding: 0;
    margin: 0;
    z-index: 100; }
    .picaslide ul.pagination li {
      width: 6px;
      height: 6px;
      margin: 3px;
      border-radius: 6px;
      float: left;
      padding: 0;
      overflow: hidden;
      background: transparent;
      border: solid 2px #eee; }
      .picaslide ul.pagination li.current {
        background: dd0; }
      .picaslide ul.pagination li > a {
        line-height: 0;
        font-size: 0;
        color: transparent;
        border: none;
        display: block;
        height: 100%;
        width: 100%;
        background: transparent; }
  .picaslide:after {
    display: block;
    clear: both; }
