.picaslide > .slides_container {
  display: none; }
  .picaslide > .slides_container > * {
    display: block; }
.picaslide ul.pagination {
  float: right;
  height: auto;
  padding: 0;
  margin: 0; }
  .picaslide ul.pagination li {
    width: 10px;
    height: 10px;
    margin: 3px;
    border-radius: 5px; }
    .picaslide ul.pagination li, .picaslide ul.pagination li > a {
      float: left;
      padding: 0;
      overflow: hidden;
      border: none;
      background: #222; }
    .picaslide ul.pagination li a {
      background: #fff;
      border-radius: 3px;
      width: 6px;
      height: 6px;
      margin: 2px; }
    .picaslide ul.pagination li.current a {
      display: none; }
