{% set entityName = 'category' %}
{% set EntityName = 'Category' %}
{% extends 'base/admin/form.html' %}

{% block i18n_inputs %}

<div class="control-group">
	<label class="control-label">{{ __('Title') }}</label>
	<input name="title" type="text" />
</div>
<div class="control-group">
	<label class="control-label">{{ __('Description') }}</label>
	<textarea name="description" class="rich"></textarea>
</div>

{% endblock %}

{% block inputs %}

<div class="control-group">
	<label class="control-label">
		{{ __('Weight') }}
		<small>{{ __('Weight explanation') }}</small>
	</label>
	<input name="weight" type="text" value="0" />
</div>

{% endblock %}