<div data-bind="bookables" class="bookables">
	<div class="bookable" data-bind="id">
		{% include "elements/admin/controls.html" %}
		<h3 data-bind="bookable-title" class="bookable-title"></h3>
		<h4 class="places">{{ __('Places') }}: <span data-bind="places"></span></h4>
		<h4 class="price">{{ __('Price') }}: 
			<span data-bind="price"></span>
			<span data-bind="currency"></span>
			<small data-bind="price-for-guests"> {{ __('For #NR# guests') }} </small>
		</h4>
		<div class="variants clearfix">
			<div data-bind="album_url"></div>
			<div data-bind="bookable-description" class="bookable-description"></div>
		</div>
		<div class="booking-controls clearfix"> 
			<button type="button" class="btn btn-primary btn-large booking-btn showBookingFormButton" data-bind="category-booking-id" >	{{ __('Book') }}
			</button>
		</div>
	</div>
</div>