@font-face {
  font-family: 'GreatVibes-Regular';
  src: url("/static/fonts/Great_Vibes/GreatVibes-Regular.ttf"); }

@font-face {
  font-family: 'LifeSavers-Regular';
  src: url("/static/fonts/Life_Savers/LifeSavers-Regular.ttf"); }

@font-face {
  font-family: 'Exo';
  src: url("/static/fonts/Exo/Exo-Medium.ttf"); }

@font-face {
  font-family: 'Flamenco';
  src: url("/static/fonts/Flamenco/Flamenco-Light.ttf"); }

@font-face {
  font-family: 'FjallaOne';
  src: url("/static/fonts/Fjalla_One/FjallaOne-Regular.ttf"); }

div.picaslide {
  padding: 0; }
  div.picaslide > .picaslides-container {
    display: none; }
    div.picaslide > .picaslides-container > * {
      display: block; }
  div.picaslide ul.picaslide-pagination {
    float: right;
    height: 0;
    position: relative;
    top: 0px;
    padding: 0;
    margin: 0;
    z-index: 100; }
    div.picaslide ul.picaslide-pagination li {
      width: 6px;
      height: 6px;
      margin: 3px;
      border-radius: 6px;
      float: left;
      padding: 0;
      overflow: hidden;
      background: transparent;
      border: solid 2px #000; }
      div.picaslide ul.picaslide-pagination li.current {
        background: #000; }
      div.picaslide ul.picaslide-pagination li > a {
        line-height: 0;
        font-size: 0;
        color: transparent;
        border: none;
        display: block;
        height: 100%;
        width: 100%;
        background: transparent; }
  div.picaslide:after {
    display: block;
    clear: both; }

.navbar .brand {
  font-family: GreatVibes-Regular;
  font-size: 35px; }
.navbar .nav > li > a, .navbar .brand {
  padding-top: 20px;
  padding-bottom: 20px; }

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0; }
  #footer .social-icons {
    border-top: 1px dashed rgba(0, 0, 0, 0.4);
    text-align: center;
    margin-top: -7em;
    margin-left: 0;
    padding-top: 1em;
    color: #000; }
    #footer .social-icons span {
      display: block; }
    #footer .social-icons a:hover img {
      /*		box-shadow: 0px 0px 5px #666; */ }

html, body, #maincontent, #body_content, .categories, .category {
  /* 	height: 100%; */
  /* 	overflow: hidden; */ }

#maincontent {
  padding-top: 60px; }

.category {
  margin-bottom: 350px; }
  .category .category-content {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 2em; }
  .category .category-info {
    position: absolute;
    border-radius: 5px;
    padding-bottom: 1.1em;
    height: 100%;
    color: #efefef; }
    .category .category-info .category-title, .category .category-info .category-description {
      padding: 0 1em; }
    .category .category-info .category-title {
      font-family: LifeSavers-Regular;
      padding-bottom: 0;
      padding-top: 5em; }
    .category .category-info .page-header {
      border-bottom: 1px dashed rgba(0, 0, 0, 0.4); }
  .category .info-container {
    height: 100%; }
  .category .picaslide {
    margin-left: -1em;
    margin-right: -1em; }
  .category .admin-controls > div {
    position: relative;
    top: -36px; }

.content {
  border-radius: 5px;
  padding-bottom: 1.1em;
  background: #f4f4f4;
  background-image: linear-gradient(to bottom, #f2f2f2, white);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(white));
  background-image: -moz-linear-gradient(top, #f2f2f2, white);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='white');
  width: 46%;
  margin-left: 4%;
  float: left;
  margin-top: 1em;
  margin-bottom: 1em; }
  .content .admin-controls {
    margin-right: 1em; }
  .content .content-description, .content .content-title {
    padding: 0 1em; }
  .content .content-title {
    border-bottom: dashed 1px #ccc; }

.bookables-wrapper {
  border-radius: 5px;
  padding-bottom: 1.1em;
  background: #f4f4f4;
  background-image: linear-gradient(to bottom, #f2f2f2, white);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(white));
  background-image: -moz-linear-gradient(top, #f2f2f2, white);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='white');
  width: 96%;
  margin-left: 4%;
  margin-top: 5em; }
  .bookables-wrapper .bookables .bookable h3, .bookables-wrapper .bookables .bookable h4, .bookables-wrapper .bookables .bookable .bookable-description {
    padding-left: 1em;
    padding-right: 1em; }
  .bookables-wrapper .bookables .bookable .picaslide {
    float: left;
    margin-right: 1em; }
  .bookables-wrapper .bookables .bookable .admin-controls {
    margin-right: 2em; }

.booking-controls {
  border-top: solid 1px #e5e5e5;
  padding-top: 1em;
  background-image: linear-gradient(to bottom, #f2f2f2, white);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(white));
  background-image: -moz-linear-gradient(top, #f2f2f2, white);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='white'); }
  .booking-controls .booking-btn {
    float: right;
    margin-right: 5em;
    padding: 0.7em 3em; }
  .booking-controls #booking-form {
    display: block;
    background: #f4f4f4;
    margin-top: 2em; }
    .booking-controls #booking-form, .booking-controls #booking-form .form-actions {
      margin-bottom: 0;
      padding-bottom: 0; }
    .booking-controls #booking-form th.tableAddControl {
      text-align: center; }

body {
  background: url(/static/img/noise.png) #333333; }

#loading-overlay {
  background: url(/static/img/noise.png) #333333;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10000; }
  #loading-overlay .loading-spacer {
    width: 100%;
    height: 50%; }
  #loading-overlay .loading {
    position: relative;
    margin: -64px auto;
    height: 96px;
    padding-top: 32px;
    width: 300px;
    padding-left: 128px;
    background: url(/static/img/coffeecup.png) 0 0 no-repeat;
    text-align: center;
    color: #efefef;
    font-size: 1.5em; }
    #loading-overlay .loading .progress {
      margin: 1em; }

body > .hidden-on-body, #body_content > .hidden-on-body {
  display: none; }

#adminButtonGroup {
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 1030; }

.admin-controls {
  float: right; }
  .admin-controls > span {
    background: #999;
    background-image: linear-gradient(to bottom, #666666, #999999);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#999999));
    background-image: -moz-linear-gradient(top, #666666, #999999);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#999999');
    border-radius: 3px;
    padding: 2px 3px;
    position: relative;
    top: -40px;
    cursor: pointer; }
  .admin-controls .edit:hover {
    background: #58d;
    background-image: linear-gradient(to bottom, #3366cc, #6699ff);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3366cc), to(#6699ff));
    background-image: -moz-linear-gradient(top, #3366cc, #6699ff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3366cc', endColorstr='#6699ff'); }
  .admin-controls .delete:hover {
    background: #58d;
    background-image: linear-gradient(to bottom, #cc6633, #ff7755);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cc6633), to(#ff7755));
    background-image: -moz-linear-gradient(top, #cc6633, #ff7755);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc6633', endColorstr='#ff7755'); }
  .admin-controls .add:hover {
    background: #8d5;
    background-image: linear-gradient(to bottom, #339933, #66cc33);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#339933), to(#66cc33));
    background-image: -moz-linear-gradient(top, #339933, #66cc33);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#339933', endColorstr='#66cc33'); }

.bookings-table > tbody > tr {
  background: #fcc;
  cursor: pointer; }
  .bookings-table > tbody > tr:hover {
    background: #f99; }
  .bookings-table > tbody > tr.accepted {
    background: #cef; }
    .bookings-table > tbody > tr.accepted:hover {
      background: #9cf; }
  .bookings-table > tbody > tr.paid {
    background: #cfc; }
    .bookings-table > tbody > tr.paid:hover {
      background: #7e5; }
  .bookings-table > tbody > tr.paid.accepted {
    background: none; }
    .bookings-table > tbody > tr.paid.accepted:hover {
      background: #eee; }
  .bookings-table > tbody > tr.bookingDetails {
    cursor: normal; }
.bookings-table .bookingDetails {
  display: none; }
  .bookings-table .bookingDetails, .bookings-table .bookingDetails:hover {
    background: #efefff;
    cursor: normal; }
  .bookings-table .bookingDetails .leftside, .bookings-table .bookingDetails .rightside {
    width: 48%; }
  .bookings-table .bookingDetails .rightside {
    float: right; }
    .bookings-table .bookingDetails .rightside .date {
      float: right;
      font-size: 1em;
      color: #999; }
    .bookings-table .bookingDetails .rightside .status td {
      text-align: center;
      background: #d33;
      color: #fff; }
    .bookings-table .bookingDetails .rightside .status .accepted {
      background: #39f; }
    .bookings-table .bookingDetails .rightside .status .paid {
      background: #6a3; }
    .bookings-table .bookingDetails .rightside .status thead td {
      border-radius: 3px 3px 0px 0px;
      color: #FFFFFF;
      font-weight: bold;
      text-align: center;
      background: #999; }
    .bookings-table .bookingDetails .rightside .actions {
      margin-top: 3em;
      text-align: center; }
  .bookings-table .bookingDetails .leftside {
    float: left; }
    .bookings-table .bookingDetails .leftside .contact {
      padding: .5em; }
      .bookings-table .bookingDetails .leftside .contact .icon-signal {
        margin-left: 2em; }
    .bookings-table .bookingDetails .leftside .entries-table {
      width: 50%; }

.modal.big-modal {
  width: 80%;
  max-height: 80%;
  margin: -20% 0 0 -40%; }
  .modal.big-modal textarea {
    width: 80%;
    height: 250px; }
