<div class="hidden">
	<table>
		<tbody>
			<tr data-bind="entry-id" class="bookingEntryRowTemplate">
				<td data-bind="index"></td>
				<td> <input type="hidden" 
						data-bind="booking-entry-bookableId" />
					<span data-bind="title"> entry.title </span>
				</td>
				<td> <input type="hidden"
						data-bind="booking-entry-quantity" />
					 <span data-bind="quantity">entry.quantity</span>
				</td>
				<td> <input type="hidden"
						data-bind="booking-entry-bookFrom" />
					<span data-bind="from">entry.from</span>
				</td>
				<td> <input type="hidden"
						data-bind="booking-entry-bookUntil" />
					<span data-bind="until">entry.until</span>
				</td>
				<td> 
					<span class="btn btn-danger" title="{{ __('Remove entry') }}">
						<i class="icon-remove icon-white"></i>
					</span>
				</td>
			</tr>
	</tbody>
	</table>
</div>