<form action="/bookings/" method="post" class="form-horizontal hidden-on-body" id="booking-form">
	<div class="control-group">
		<label class="control-label" for="user.full_name">{{ __('Full Name') }}</label>
		<div class="controls controls-row">
			<div class="input-prepend">
				<span class="add-on"><i class="icon-user"></i></span>
				<input type="text" id="user.full_name" name="user.full_name" data-toggle="tooltip" data-title="{{ __('Specify a valid full name') }}" data-placement="right"/>
			</div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="user.email">{{ __('Email') }}</label>
		<div class="controls controls-row">
			<div class="input-prepend">
				<span class="add-on"><i class="icon-envelope"></i></span>
				<input type="email" id="user.email" name="user.email" class="email"  data-toggle="tooltip" data-title="{{ __('Specify a valid email address') }}" data-placement="right"/>
			</div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="user.phone">{{ __('Phone') }}</label>
		<div class="controls controls-row">
			<div class="input-prepend">
				<span class="add-on"><i class="icon-signal"></i></span>
				<input type="text" class="phone" id="user.phone" name="user.phone"  data-toggle="tooltip" data-title="{{ __('Specify a valid phone number') }}" data-placement="right"/>
			</div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="booking.message">{{ __('Custom message') }}</label>
		<div class="controls controls-row">
			<div class="input-prepend">
				<span class="add-on"><i class="icon-comment"></i></span>
				<textarea id="booking.message" name="booking.message"></textarea>
			</div>
		</div>
	</div>
	<input type="hidden" id="booking.bookable" name="booking.bookable" />
	<div class="control-group">
		<label class="control-label" for="booking.quantity">{{ __('Quantity') }}</label>
		<div class="controls controls-row">
			<div class="input-prepend">
				<span class="add-on">#</span>
				<select id="booking.quantity" name="booking.quantity">
				</select>
			</div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="booking.guests">{{ __('Number of guests') }}</label>
		<div class="controls controls-row">
			<div class="input-prepend">
				<span class="add-on">#</span>
				<select id="booking.guests" name="booking.guests">
				</select>
			</div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="booking.from">{{ __('Arrival date') }}</label>
		<div class="controls controls-row">
			<div class="input-prepend">
				<span class="add-on"><i class="icon-calendar"></i></span>
				<input type="text" class="datepicker bookfrom" id="booking.book_from" name="booking.book_from" data-toggle="tooltip" data-title="{{ __('Specify a valid date (dd-mm-yyyy)') }}" data-placement="right"/>
			</div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="booking.until">{{ __('Departure date') }}</label>
		<div class="controls controls-row">
			<div class="input-prepend">
				<span class="add-on"><i class="icon-calendar"></i></span>
				<input type="text" class="datepicker bookuntil" id="booking.book_until" name="booking.book_until" data-toggle="tooltip" data-title="{{ __('Specify a valid date (dd-mm-yyyy)') }}" data-placement="right"/>
			</div>
		</div>
	</div>	
	<div class="control-group prices">
		<table class="table table-striped">
			<thead>
				<tr>
					<th colspan="2"> {{ __('Price') }}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td> {{ __('Per night') }}</td>
					<td class="pricePerNight">50</td>
				</tr>
				<tr class="total">
					<td> {{ __('Total') }} (<span class="nrOfDays"></span> {{ __('Nights') }})</td>
					<td class="priceTotal">100</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="form-actions">
		<button type="button" class="btn btn-link" id="cancelBookingButton"> {{ __('Cancel') }}</button>
		<button type="button" class="btn btn-primary btn-large booking-btn" id="submitBookingButton" data-toggle="tooltip" data-title="{{ __('Invalid data! See fields above.') }}" data-placement="left"> {{ __('Book') }}</button>
	</div>
</form>
