<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">Ferdinand</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li>
                        <a href="{{ url_for('admin_categories') }}">Categories</a>
                    </li>
                    <li>
                        <a href="{{ url_for('admin_contents') }}">Contents</a>
                    </li>
                    <li>
                        <a href="{{ url_for('admin_medias') }}">Media</a>
                    </li>
                    <li>
                        <a href="{{ url_for('admin_bookables') }}">Bookables</a>
                    </li>
                    <li>
                        <a href="{{ url_for('admin_bookings') }}">Bookings</a>
                    </li>
                    <li>
                        <a href="{{ url_for('admin_users') }}">Users</a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!-- /.navbar .container -->
    </div><!-- /.navbar-inner -->
</div><!-- /navbar -->
