<div class="navbar navbar-inverse navbar-fixed-top" id="navbar">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
			<a class="brand" href="{% if js_data and js_data.categories %} #Category{{js_data.categories[0].id}} {%else%} / {% endif %} ">Ferdinand panzio</a>
			<ul class="category-nav nav nav-collapse">
				<li data-bind="visible"><a href="#" data-bind="title"></a>
					<ul class="dropdown-menu" data-bind="subcategories">
						<li data-bind="subcategory"><a href="#" data-bind="title"></a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- /.navbar .container -->
	</div>
	<!-- /.navbar-inner -->
</div>
<!-- /navbar -->
