<div class="booking-details booking-details-body">
	<div class="leftside">
		<table class="table">
			<thead>
				<tr>
					<th colspan="2" class="username panel-title">
						<span data-bind="index"></span>
						<span data-bind="user.full_name"></span>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr class="state">
					<td>{{ __('State') }}</td>
					<td data-bind="state">
						<i class="icon-white" data-bind="state-icon"></i>
					</td>
				</tr>
				<tr>
					<td>
						<i class="icon-envelope"></i> <span data-bind="user.email"></span>
					</td>
					<td>
						<i class="icon-signal"></i> <span data-bind="user.phone"></span>
					</td>
				</tr>
				<tr>
					<td>{{ __('Preferred language') }}</td>
					<td data-bind="user.language"></td>
				</tr>
				<tr>
					<td>{{ __('Citizenship') }}</td>
					<td data-bind="user.citizenship"></td>
				</tr>
				<tr data-bind="messageVisible">
					<td colspan="2">
						<span>
							{{ __('Attached message') }}
						</span>
						<em data-bind="message">
						</em>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="rightside">
		<p class="date">
			<i class="icon-time" title="{{ __('Modified') }}"></i>
			<span data-bind="created" title="{{ __('Modified') }}"></span>
		</p>
		<table class="table">
			<tbody>
				<tr>
					<td>{{ __('Bookable') }}</td>
					<td data-bind="bookable" colspan="2"></td>
				</tr>
				<tr>
					<td>{{ __('Quantity') }}</td>
					<td data-bind="quantity" colspan="2"></td>
				</tr>
				<tr>
					<td>{{ __('Guests') }}</td>
					<td data-bind="guests" colspan="2"></td>
				</tr>
				<tr>
					<td>
						{{ __('Arrival date') }}
					</td>
					<td data-bind="start" colspan="2"></td>
				</tr>
				<tr>
					<td>{{ __('Departure date') }}</td>
					<td colspan="2">
						<span data-bind="end"></span>
						<small>
							( <span data-bind="nrOfNights"></span>
							{{ __('nights') }} )
						</small>
					</td>
				</tr>
				<tr>
					<td></td>
					<th>{{ __('Client') }}
						<a data-toggle="tooltip" title="{{ __('Prices displayed in the currency the client chose. The price of the bookable and exchange rates are the ones from the day of the booking.') }}">
							<i class="icon-question-sign"></i>
						</a>
					</th>
					<th>{{ __('Admin') }}
						<a data-toggle="tooltip" title="{{ __('Prices in the currently selected currency. The price of the bookable and exchange rates are the ones from the day of the booking.') }}">
							<i class="icon-question-sign"></i>
						</a>
					</th>
				</tr>
				<tr>
					<th>{{ __('Price') }}</th>
					<td>
						<span data-bind="priceClient">1billion</span>
						<span data-bind="currencyClient"></span>
						<small>
							( <span data-bind="pricePerNightClient"></span>
							<span data-bind="currencyClient"></span>
							{{ __('Per night') }} )
						</small>
					</td>
					<td>
						<span data-bind="priceAdmin">1billion</span>
						<span data-bind="currencyAdmin"></span>
						<small>
							( <span data-bind="pricePerNightAdmin"></span>
							<span data-bind="currencyAdmin"></span>
							{{ __('Per night') }} )
						</small>
					</td>
				</tr>
				<tr>
					<th>{{ __('Discount') }}</th>
					<td>
						<div class="input-append">
							<input type="text" data-bind="discount" />
							<span class="add-on currency" data-bind="currencyClient">$$$</span>
						</div>
					</td>
					<td>
						<span data-bind="discountAdmin">1billion</span>
						<span data-bind="currencyAdmin"></span>
					</td>
				</tr>
				<tr class="total">
					<th>{{ __('Total') }}</th>
					<td>
						<span data-bind="totalClient">1billion</span>
						<span data-bind="currencyClient"></span>
						<small>
							( <span data-bind="totalPricePerNightClient"></span>
							<span data-bind="currencyClient"></span>
							{{ __('Per night') }} )
						</small>
					</td>
					<td>
						<span data-bind="totalAdmin">1billion</span>
						<span data-bind="currencyAdmin"></span>
						<small>
							( <span data-bind="totalPricePerNightAdmin"></span>
							<span data-bind="currencyAdmin"></span>
							{{ __('Per night') }} )
						</small>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="booking-details footer-buttons">
		<div class="actions btn-group">
			<button type="button" class="btn btn-primary" id="show-accept-booking" data-bind="acceptance-button">
				<!-- <i class="icon-white icon-exclamation-sign"></i> -->
				{{ __('Accept') }}
			</button>
			<button type="button" class="btn" id="show-deny-booking" data-bind="acceptance-button">
				{{ __('Deny') }}
			</button>
			<button type="button" class="btn" id="mark-as-paid" data-bind="paid-button">
				{{ __('Mark as paid') }}
			</button>
			<button type="button" class="btn btn-disabled" id="show-send-message">
				{{ __('Send message') }}
			</button>

		</div>
		<button type="button" class="btn btn-link" id="delete-booking">
			<i class="icon-trash" title="{{ __('Delete') }}"></i>{{ __('Delete') }}
		</button>
		<button type="button" class="btn btn-link" id="close-booking-details">{{ __('Back') }}</button>
	</div>

</div>

