<div class="booking-send-message">
	<div class="panel-title">{{ __('Send message') }}</div>
</div>
<div class="email-fields">
	<div class="control-group">
		<label class="control-label" for="mail-subject">{{ __('Subject') }}</label>
		<div class="controls controls-row">
			<input id="mail-subject" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="booking-textarea">{{ __('Body') }}</label>
		<div class="controls controls-row">
			<textarea id="booking-textarea" class="rich"></textarea>
		</div>
	</div>
</div>

<div class="footer-buttons booking-send-message">
	<button type="button" class="btn btn-primary" id="send-message-submit">{{ __('Send') }}</button>
</div>
<div class="footer-buttons email-fields">
	<button type="button" class="btn btn-link" id="cancel-mail">{{ __('Back') }}</button>
</div>