<table class="table entries-table">
	<thead>
		<tr>
			<th colspan="5">{{ __('Booked rooms') }}</th>
		</tr>
		<tr>
			<th>{{ __('Room type') }}</th>
			<th>{{ __('Quantity') }}</th>
			<th>{{ __('Arrival') }}</th>
			<th>{{ __('Departure') }}</th>
			<th></th>
		</tr>
	</thead>
	<tbody data-bind="booking_entries">
		<tr>
			<td data-bind="bookable"></td>
			<td data-bind="quantity"></td>
			<td data-bind="book_from"></td>
			<td data-bind="book_until"></td>
			<td>
				<!-- <i class="icon-trash" title="{{ __('Delete')}}"></i> -->
			</td>
		</tr>
	</tbody>
	<tfoot>
		
	</tfoot>
</table>