<div class="bookings-list">
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>{{ __('Name') }}</th>
				<th>{{ __('Email') }}</th>
				<th>{{ __('Phone') }}</th>
				<th>{{ __('Booking entries') }}</th>
				<th>{{ __('Date') }}</th>
				<th>{{ __('State') }}</th>
			</tr>
		</thead>
		<tbody >
			<tr data-bind="id">
				<td data-bind="index"></td>
				<td data-bind="user.full_name"></td>
				<td class="center" data-bind="user.email"></td>
				<td class="center" data-bind="user.phone"></td>
				<td class="center" data-bind="bookable"></td>
				<td class="center" data-bind="created"></td>
				<td>
					<i class="icon" data-bind="state-icon"></i>
					<span data-bind="state"></span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="bookings-list footer-buttons">
	<button class="btn btn-link" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i> 
		{{ __('Close') }}
	</button>
</div>