<div class="bookings-list">
	<div class="filters">
		<div class="input-prepend input-append">
			<span class="add-on">{{ __('Booking between') }}</span>
			<input type="text" class="start" id="booking-between-start" placeholder="{{ __('Start (dd-mm-yyyy)') }}"/>
			<input type="text" class="end" id="booking-between-end" placeholder="{{ __('End (dd-mm-yyyy)') }}"/>
			<button class="btn btn-primary load-bookings"> {{ __('Load')}} </button>
		</div>
		<div class="input-append">
			<input type="text" class="quicksearch" id="booking-quicksearch" placeholder="{{ __('Quicksearch') }}"/>
			<button class="btn" disabled="disabled"><i class="icon-search"></i></button>
		</div>
	</div>
</div>
<div class="bookings-list">
	<table class="table">
		<thead>
			<tr>
				<th>#
					<span class="sorted-by">
						<i class=" icon-chevron-down"></i>
						<i class=" icon-chevron-up"></i>
					</span>
				</th>
				<th data-sort-by="user.full_name">{{ __('Name') }}</th>
				<th data-sort-by="user.email">{{ __('Email') }}</th>
				<th data-sort-by="user.phone">{{ __('Phone') }}</th>
				<th data-sort-by="bookable">{{ __('Bookable') }}</th>
				<th data-sort-by="created">{{ __('Date') }}</th>
				<th data-sort-by="state">{{ __('State') }}</th>
			</tr>
		</thead>
		<tbody >
			<tr data-bind="id" class="booking-row">
				<td data-bind="index"></td>
				<td data-bind="user.full_name"></td>
				<td class="center" data-bind="user.email"></td>
				<td class="center" data-bind="user.phone"></td>
				<td class="center" data-bind="bookable"></td>
				<td class="center" data-bind="created"></td>
				<td>
					<i class="icon" data-bind="state-icon"></i>
					<span data-bind="state"></span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<!-- <div class="bookings-list ">
	<span class="btn btn-link filter-btn">
		{{ __('Filters') }} <i class="icon-chevron-down"></i>
	</span>
</div> -->
<div class="bookings-list footer-buttons">
	<button class="btn btn-link" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i>
		{{ __('Close') }}
	</button>
</div>