.bookings-table{
	&>tbody>tr{
		background: #fcc;
		&:hover {
			background: #f99;
		}	
		&.accepted {
			background: #cef;
			&:hover{
				background: #9cf;
			}
		}
		&.paid {
			background: #cfc;
			&:hover{
				background: #7e5;
			}
		}
		&.paid.accepted{
			background: none;
			&:hover{
				background: #eee;
			}
		}
		cursor: pointer;
		&.bookingDetails{
			cursor: normal;
		}
	}
	.bookingDetails{
		display: none;
		&, &:hover {
			background: #efefff;
			cursor: normal;
		}
		.leftside, .rightside{
			width: 48%;
		}
		.rightside {
			float: right;
			.date{
				float: right;
				font-size: 1em;
				color: #999;
			}
			.status{
				td {
					text-align: center;
					background: #d33;
					color: #fff;
				}
				.accepted {
					background: #39f;
				}
				.paid {
					background: #6a3;
				}
				thead td {
					border-radius: 3px 3px 0px 0px;
    				color: #FFFFFF;
    				font-weight: bold;
    				text-align: center;
    				background: #999;
				}
			}
			.actions{
				margin-top: 3em;
				text-align: center;
			}
		}

		.leftside {
			float: left;
			.contact {
			
				padding: .5em;
				.icon-signal {
					margin-left: 2em;
				}
			}
			.entries-table{
				width: 50%;
			}
		}
	}
}