#adminButtonGroup{
	position: fixed;
	top: 1em;
	right: 1em;
	z-index: 1030;
}

.admin-controls{
	margin-top: 1em;
	float: right;
	&>span {
		background: #999999;
		@include gradient(#666666, #999999);
		border-radius: 3px;
		padding: 0px 3px;
		float: left;
		cursor: pointer;
		margin-left: $adminControlsMarginL;
	}
	.edit:hover{
		background: #5588DD;
		@include gradient(#3365CC, #6699FF);
	}
	.delete:hover{
		background: #D07040;
		@include gradient(#CC6633, #FF7755);
	}
	.add:hover{
		background: #88DD55;
		@include gradient(#339933, #66CC33);	
	}
}
