#adminButtonGroup{
	position: fixed;
	top: 1em;
	right: 1em;
	z-index: 1030;
}

.admin-controls{
	margin-top: 1em;
	float: right;
	&>span {
		background: #999;
		@include gradient(#666, #999);
		border-radius: 3px;
		padding: 0px 3px;
		float: left;
		cursor: pointer;
		margin-left: $adminControlsMarginL;
	}
	.edit:hover{
		background: #58d;
		@include gradient(#36c, #69f);
	}
	.delete:hover{
		background: #58d;
		@include gradient(#c63, #f75);
	}
	.add:hover{
		background: #8d5;
		@include gradient(#393, #6c3);	
	}
}
