.prices.table, .special-prices {
	input.price {
    	width: 50px;
    	text-align: right;
	}
}

.special-prices {
	.special-prices-remove-btn {
		padding: 0;
		height: 1.5em;
		width: 1.5em;
	}
	select.repeat {
		width: 5em;
	}
	th {
		&.remove {
			width: 1em;
		}
		&.start, &.end, &.repeat {
			width: 4em;
		}
	}
	.date {
		width: 7em;
	}
}

#bookableEditFormModal {
	.picaslideButton {
		display: none;
	}
}

.wysihtml5-toolbar {
	.editHtmlButton {
		display: none;
	}
}