.picaslide {
	background: url(../../img/picasa_placeholder.jpg) center center;
	background-size: cover;
	width: 200px;
	height: 200px;
	&:after {
		content: 'Gallery';
		text-align: center;
		padding-top: 80px;
		display: block;
		color: #333;
	}
}